@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');


*{
  margin: 0;
  font-family: 'Lexend Mega', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logo{
  width: 140px;
}